@model FilmsToWatch.Models.UserModels.UserToRoleViewModel

<form asp-action="GiveRole" method="post">
    <div>
        <label asp-for="@Model.RoleName" class="form-label-add-edit">Role Name</label>
        <input asp-for="@Model.RoleName" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.RoleName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="@Model.UserName" class="form-label-add-edit">Username</label>
        <input asp-for="@Model.UserName" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
    </div>

    @* <div>
    <label asp-for="@Model.RoleId" class="form-label-add-edit">Select Role</label>
    <select asp-for="@Model.RoleId" class="form-control">
    <option disabled selected value="">Select Role...</option>
    @foreach (var role in Model.Roles)
    {
    <option value="@role">@role</option>
    }
    </select>
    <span asp-validation-for="@Model.RoleId" class="text-danger"></span>

    </div> *@


    <button type="submit" class="btn btn-primary" value="AddRole">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}