@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;
@model FilmsToWatch.Models.FilmModels.FilmServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="movie-image">
            <img src="/Uploads/@Model.MovieImage" class="mx-auto d-block" style="width: 100%; height: auto; max-width: 200px; max-height: 300px;">
        </div>
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Release Year: <b>@Model.ReleaseYear</b></h6>
            <h6>Director: <b>@Model.Director</b></h6>
            <br />
            <a asp-controller="Film" asp-action="Details" asp-route-id="@Model.Id"
               asp-route-information="@Model.GetInformation()" class="btn btn-info">Details</a>
            <form asp-controller="Film" asp-action="MarkAsWatched" method="post">
                <input type="hidden" name="filmId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Watched</button>
            </form>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
            {
                <a asp-controller="Film" asp-action="Edit" asp-route-id="@Model.Id"
                class="btn btn-warning">Edit</a>
            }
        </div>
    </div>
</div>
